h1 {
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#root {
  height: 100vh;
}

.content-wrapper {
  height: calc(100% - 50px);
  display: flex;
}

header {
  padding: 0 20px;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.left-panel {
  height: 100%;
  border-right: 1px solid #dddddd;
  padding: 10px 20px;
  box-sizing: border-box;
  top: 50px;
}

.layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all .3s ease;
}

.layout.active {
  box-shadow: inset 0 0px 10px 0px #3acb5e;
}

.figure-example {
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: transparent;
  margin: 20px 0;
  border: 2px solid #000;
}

.figure-example.circle {
  border-radius: 50%;
}

.figure-example.on-layout {
  position: absolute;
  margin: 0;
}